extends header

block content 
  .body-part
   .col-lg-6.col-md-6.col-sm-12.col-xs-12
      .profile-wrapper.wow.fadeInRight(data-wow-delay="0.3s")
        
        p
          |Goal-oriented Web Developer with strong commitment to collaboration and solutions-oriented problem-solving. Use various web design software to develop customer-focused websites and designs.
        #resume.section-padding
      .containerabout
        .row
          .col-lg-6.col-md-6.col-sm-6
            .education.wow.fadeInRight(data-wow-delay="0.3s")
              ul.timeline
                li
                .content-text
                    h2.timelin-title Education
                li
                .content-text
                    h3.line-title Diploma In Computer Programmer - Georgian College, Barrie
                    span 2018 - To Present
                    p.line-text
                      | Major courses are JavaScript, PHP, JAVA, Database, Mobile Development with Swift.
                li
                .content-text
                    h3.line-title Bachalor's of Engineering - Sigma Institute Of Engineering
                    span 2011 - 2015
                    
                
          .col-lg-6.col-md-6.col-sm-6
            .experience.wow.fadeInRight(data-wow-delay="0.6s")
              ul.timeline
                li
                
                  h2.timelin-title Experience
                li
                  .content-text
                    h3.line-title CRS - Nordia.
                    span Sept 2018 - April 2019
                    p.line-text
                      | Cultivated strong value-added relationships with customers by delivering product knowledge to drive business development.
                li
                  .content-text
                    h3.line-title Web Developer - Rotex Automation Limited
                    span July 2016 - Dec 2017
                    p.line-text
                      | Hands on experience in Coding, Designing, Testing, Implementation/Maintenance Support using PHP and MySQL.
   
