extends header

block content 
  .body-part
  
    h1.col-md-6.col-lg-6.col-sm-12 Stay Connect   

    .col-md-6.col-lg-6.col-sm-12
      
        p 173 Shannon St., Orillia, ON, CA
          
            p
              a(href="mailto:mamtasonar1127@gmail.com") mamtasonar1127@gmail.com
            p
              a(href="https://www.linkedin.com/in/mamta-sonar-a119b1103/") Connect me with LinkedIn
            p
                |(705) 896 3858
            p
              a(href="https://myprofilemamta.azurewebsites.net/") My Website


