doctype html
html
    head
      link(rel='stylesheet', href='main.css')
    body
        .header
            h3
            ul
                li
                    a(href='index') Home
                li
                    a(href='about') About
                li
                    a(href='projects') Projects
                li
                    a(href='services') Services
                li
                    a(href='contact') Contact
                li
                    a(href='Users') SignIn/GetRegister
                
        block content
        footer
            p  Copyright &copy; Mamta Sonar-200390273.