extends header

block content 
  .body-part
   div.mainpage
        p 
        h1 I'm Mamta Sonar
        p 
        h1 A Web Developer
        img.main(src='MYPIC.jpg' width='460' height='345')


    
  