extends header

block content 
  .body-part
    h1 My Personal and Professional Works
    
    .gallery
        a(target="_blank" href="https://rotexautomation.com/cms/")
            img(src="complaint.jpg"  width="300" height="150")
        .desc Customer Complaint /Enquiry
    .gallery
        a(target="_blank" href="#")
            img(src="event.jpg"  width="300" height="150")
        .desc Event Management
    .gallery
        a(target="_blank" href="http://rotexautomation.com/crossreference/")
            img(src="Product.jpg" width="300" height="150")
        .desc Product Sorting
