extends header

block content 
  .body-part
   h1 What I do
    
    .gallery
        a(target="_blank" href="#")
            img(src="frontend.png"  width="300" height="150") 
            
    .gallery
        a(target="_blank" href="#")
            img(src="GD.jpg" width="300" height="150")
        
    .gallery
        a(target="_blank" href="#")
            img(src="free.png" width="300" height="150")
        